@import '../../index.css';

.PasswordReset {
  color: white;
  background-color: var(--color-dark-teal);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Cera Pro';
  h1 {
    margin: 0;
  }
  .infoText {
    width: 50%;
    list-style: none;
    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }
    li::before {
      content: "– ";
    }
  }
}
