@import "../../index.css";

.PasswordReset {
  color: white;
  background-color: var(--color-dark-teal);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Cera Pro";

  h1 {
    margin: 0;
  }
  .hideButton {
    font-family: "Cera Pro";
    background-color: var(--color-teal);
    border-width: 0;
    border-radius: 50px;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 5px 20px;
    color: white;
    transition: all 0.3s ease;
  }
  .infoText {
    width: 50%;
    list-style: none;
    li {
      padding-left: 1rem;
      text-indent: -0.7rem;
    }
    li::before {
      content: "– ";
    }
  }
}

@media only screen and (max-width: 600px) {
    .PasswordReset {
      h1 {
        font-size: 1.5rem;
      }
    }
}
