@import '../../index.css';

.myForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 50vh;

    .inputWrapper {
      display: flex;
      padding: 10px;
      font-family: 'Cera Pro';

      .inputBox {
        background-color: var(--color-teal);
        padding: 15px 20px;
        width: 50px;
        border-radius: 25px 0px 0px 25px;
        font-family: inherit;
      }
      .textBox {
        border-width: 0;
        border-radius: 0 25px 25px 0;
        padding-left: 10px;
        width: 200px;
      }
    }
    .submitButton {
      display: flex;
      justify-content: center;
      background-color: var(--color-teal);
      border-width: 0;
      padding: 15px 20px;
      border-radius: 50px;
      font-weight: bold;
      margin: 0 auto;
      color: white;
      text-align: center;
    }

  }