@import '../../index.css';

.NavBar {
    margin-top: 5px;
    width: 100vw;
    .links {
        display: flex;
        justify-content: space-around;
        .link {
            list-style: none;
            .active {
                text-decoration: underline;
            }
            a {
                text-decoration: none;
                color: white;
                text-transform: capitalize;
                font-size: 2.5rem;
                font-weight: bold;
                padding: 15px 10px;
                border-radius: 10px;
                font-family: 'Cera Pro';
                transition: 700ms;
                &:hover {
                    text-decoration: none;
                    color: var(--color-teal);
                    background-color: white;
                    
                }
                
            }
            
        }
    }
}
