@import "../../index.css";

#table {
  display: none;
}

.UserDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
}

.resultContainer {
  margin: 0 auto;
  margin-top: 20px;
  padding: 7.5px 15px;
  border: solid var(--color-teal) 5px;
  border-radius: 20px;
  width: 50%;
  font-family: Arial;

  .userInformation {
    display: none;

    .loginDetails {
      list-style: none;
      list-style-type: none;
    }
  }

  /* .tableContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .table {
      table-layout: fixed;
      width: 100%;

    }

    .table,
    .th,
    .td {
      border: 1px solid var(--color-teal);
      box-sizing: content-box;
      font-family: Arial;

      .select {
        user-select: all;
        font-family: Arial;
        text-align: left;

        &::after {
          content: "";
          display: none;
          margin: 0 auto;
        }
      }

      .td {
        padding: 0.5rem;
        text-align: start;
        border: 1px solid var(--color-teal);
        width: fit-content;
      }

      .th {
        text-align: right;
        font-family: Arial;
        border: 1px solid var(--color-teal);
        width: 5rem;
        padding: 0.25rem 1rem;
      }

      .td,
      .th {
        height: 2rem;
      }
    }
  } */

  .select {
    user-select: all;
    font-family: Arial;
  }

  strong {
    font-family: Arial;
  }

  a {
    font-family: Arial;
    color: #339CFF;

    &:visited {
      // Your styles for visited links here
      color: #339CFF;
    }
  }

  p {
    margin: 0px auto;
    line-height: normal;
  }

  a:visited {
    color: #339CFF;
  }
}

.optionsContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;

  
  .labelContainer {
    display: flex;
    align-items: center; // Align items vertically in the center
    cursor: pointer;
  
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    .checkmark {
      height: 25px;
      width: 25px;
      border-radius: 15%;
      background-color: #f0f0f0;
      opacity: 0.9;
      transition: opacity ease 0.2s;
      margin-right: 10px; // Add some space between the checkmark and the label
    }
  
    & input:checked ~ .checkmark {
      background-color: var(--color-teal);
    }
  
    &:hover input ~ .checkmark {
      opacity: 1;
    }
  
    & input:checked ~ .checkmark:after {
      display: block;
    }
  
    .checkboxLabel {
      // No need for absolute positioning anymore
      // The text will be aligned automatically
    }
  }
  
}

.sliderContainer {
  margin-top: 2rem;
  width: 50%;

  .slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    border-radius: 50px;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
      /* Fully shown on mouse-over */
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Override default look */
      appearance: none;
      width: 25px;
      /* Set a specific slider handle width */
      height: 25px;
      /* Slider handle height */
      background: var(--color-teal);
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
      border-radius: 50%;
    }

    &::-moz-range-thumb {
      width: 25px;
      /* Set a specific slider handle width */
      height: 25px;
      /* Slider handle height */
      background: var(--color-teal);
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

@media only screen and (max-width: 870px) {
  .buttonContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 650px) {
  .resultContainer {
    width: 80%;
  }
}