@import "../../index.css";


.UserDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
}

.resultContainer {
  margin: 0 auto;
  margin-top: 20px;
  padding: 7.5px 15px;
  border: solid var(--color-teal) 5px;
  border-radius: 20px;
  width: 50%;
  font-family: Arial;
  .select {
    user-select: all;
    font-family: Arial;
  }
  strong {
    font-family: Arial;
  }
  a {
    font-family: Arial;
    color: #339CFF;
  
    &:visited {
      // Your styles for visited links here
      color: #339CFF;
    }
  }
  p {
    margin: 0px auto;
    line-height: normal;
  }
  a:visited {
    color: #339CFF;
  }
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

@media only screen and (max-width: 870px) {
  .buttonContainer {
    flex-direction: column;
  }
}