@import "../../index.css";

#table {
  display: none;
}

.UserDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
  align-items: center;
}


.NewUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hideButton {
    font-family: "Cera Pro";
    background-color: var(--color-teal);
    border-width: 0;
    border-radius: 50px;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 5px 20px;
    color: white;
    transition: all 0.3s ease;
    width: fit-content;
    
    .infoText {
      width: 50%;
      list-style: none;
      li {
        padding-left: 1rem;
        text-indent: -0.7rem;
      }
      li::before {
        content: "– ";
      }
    }
  }
}
.resultContainer {
  margin: 0 auto;
  margin-top: 20px;
  padding: 7.5px 15px;
  border: solid var(--color-teal) 5px;
  border-radius: 20px;
  width: 50%;
  font-family: Arial;

  .userInformation {
    display: none;
    .loginDetails {
      list-style: none;
      list-style-type: none;
    }
  }

  /* .tableContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .table {
      table-layout: fixed;
      width: 100%;

    }

    .table,
    .th,
    .td {
      border: 1px solid var(--color-teal);
      box-sizing: content-box;
      font-family: Arial;

      .select {
        user-select: all;
        font-family: Arial;
        text-align: left;

        &::after {
          content: "";
          display: none;
          margin: 0 auto;
        }
      }

      .td {
        padding: 0.5rem;
        text-align: start;
        border: 1px solid var(--color-teal);
        width: fit-content;
      }

      .th {
        text-align: right;
        font-family: Arial;
        border: 1px solid var(--color-teal);
        width: 5rem;
        padding: 0.25rem 1rem;
      }

      .td,
      .th {
        height: 2rem;
      }
    }
  } */

  .select {
    user-select: all;
    font-family: Arial;
  }

  strong {
    font-family: Arial;
  }

  a {
    font-family: Arial;
    color: #339CFF;

    &:visited {
      // Your styles for visited links here
      color: #339CFF;
    }
  }

  p {
    margin: 0px auto;
    line-height: normal;
  }

  a:visited {
    color: #339CFF;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

@media only screen and (max-width: 870px) {
  .buttonContainer {
    flex-direction: column;
  }
}