@import './index.css';

.App {
  color: white;
  background-color: var(--color-dark-teal);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

