.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-teal);
  border-width: 0;
  border-radius: 50px;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 12.5px 20px;
  color: var(--color-purple);
  transition: all 0.3s ease;
  margin-top: 5%;
  .buttonText {
    padding-left: 10px;
    font-size: 1.1rem;
    color: white;
    font-family: 'Cera Pro';
    white-space: nowrap;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:active, &.buttonPressed {
    transition: transform 0.2s ease;
    transform: scale(0.95);
  }
}


.buttonIcon {
  color: var(--color-dark-teal);
}
@media only screen and (max-width: 600px) {
    .button {
      padding: 10px 15px;
      .buttonText {
        font-size: 1rem;
      }
    }
}

@media only screen and (max-width: 870px) {
  .button {
    padding: 12.5px 17.5px;
    .buttonText {
      font-size: 1rem;
    }
  }
}