@import '../../index.css';
@import '../userdetails/userdetails.module.scss';
@import '../userform/userform.module.scss';


.GeneralPurpose {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 0;
  }
}
  